$body: #E5E5E5;
$base-color: #130577;
$base-color-light: #2850B9;

$white: #FFFFFF;


$linear-red: linear-gradient(101.69deg, #DA333D 0.51%, #B7121B 101.16%);
$linear-orange: linear-gradient(101.69deg, #F8713C 0.51%, #D73D00 101.16%);
