/* ===== Google Font ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===== General Style ===== */
:root {
    --primary-bg: #E5E5E5;
    --primary-color: #DA0F0F;
    --white: #ffff;
    --black: #000;
    --purple: #B23FDA;
    --green: #008640;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease-in;
    background: var(--primary-bg);
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}


/* ===== Component Style ===== */
/*----------------------------------------------------------
 Header Component ---------------------------------------------------*/
.header {
    width: 85%;
    margin-left: 15%;
    transition: 0.3s ease-in-out;
    padding: 1.5rem 1rem;
}

.header .avatar-sm-1 {
    cursor: pointer;
}


/*----------------------------------------------------------
 Sidebar Component ---------------------------------------------------*/
.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
    padding: 0.675rem;
    border-radius: 0 30px 0 0;
    background: var(--white);
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);*/
}

.sidebar .sidebar-toggle-button {
    position: absolute;
    right: -16px;
    top: 80px;
    background: var(--white);
    /*background: red;*/
    border-radius: 50%;
    width: 38px;
    height: 38px;
    box-shadow: 2px 0 rgba(0, 0, 0, 0.25) !important;
}

.sidebar .sidebar-toggle-button .bi-caret-left-fill {
    margin-right: -6px;
}

.sidebar .sidebar-toggle-button .bi-list {
    margin-right: -6px;
    font-weight: bolder;
}

.sidebar .sidebar-logo .logo-lg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sidebar .sidebar-nav {
    padding-left: 50px;
}

.sidebar .sidebar-nav .sidebar-nav-item .sidebar-nav-link {
    color: var(--black);
    font-size: 18px;
}

.sidebar .nav-heading {
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.49);
    text-transform: capitalize;
    margin: 10px 0;
}

.sidebar-nav {
    transition: all 0.3s;
    overflow-y: scroll !important;
    max-height: 85% !important;
}

.sidebar-nav::-webkit-scrollbar {
    display: none;
}

/*----------------------------------------------------------
 Main Component ---------------------------------------------------*/
.main {
    width: 85%;
    height: 100%;
    background: var(--primary-bg);
    margin-left: 15%;
    transition: 0.3s ease-in-out;
    padding: 0.560rem 2.2rem;
}

@media (max-width: 991px) {
    .sidebar {
        width: 10%;
    }

    .main, .header {
        width: 90%;
        margin-left: 10%;
    }
}

.sidebar-show {
    display: block !important;
    width: 70%;
    z-index: 99999;
}


@media (min-width: 992px) {
    .sidebar-collapsed .sidebar {
        width: 6%;
    }

    .sidebar-collapsed .main, .sidebar-collapsed .header {
        width: 94%;
        margin-left: 6%;
    }

    .sidebar-collapsed .sidebar-nav-title, .sidebar-collapsed .logo-lg {
        display: none;
    }

    .sidebar-collapsed .logo-sm {
        display: block !important;
        margin: auto;
    }

    .sidebar-collapsed .sidebar .sidebar-nav {
        padding-left: 0;
        text-align: center;
    }

    .sidebar-collapsed .sidebar .sidebar-nav .sidebar-nav-item .iconify {
        width: 30px;
        height: 30px;
    }

    .sidebar-collapsed .sidebar .nav-heading {
        font-size: 10px;
    }

    .sidebar-collapsed .sidebar .sidebar-toggle-button .bi-caret-left-fill {
        display: none;
    }

    .sidebar-collapsed .sidebar .sidebar-toggle-button .bi-caret-right-fill {
        display: inline-block !important;
        margin-right: -6px;
    }

    .sidebar-collapsed .sidebar .sidebar-toggle-button .bi-list {
        margin-right: -6px;
    }
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
    .mobile-sidebar{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }
}

/* ===== Re-usable Component Style ===== */
.mc-calendar {
    z-index: 9999;
}

/*----------------------------------------------------------
 Avatar ---------------------------------------------------*/
.avatar-sm {
    max-height: 40px;
    width: 40px;
    border-radius: 50%;
}

.avatar-sm-1 {
    max-height: 46px;
    width: 46px;
    border-radius: 50%;
}


/*----------------------------------------------------------
 Page Title ---------------------------------------------------*/
.page-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    position: relative;
    margin-bottom: 0;
}

.page-title::after, .page-tab-btn::after {
    content: "";
    position: absolute;
    background: var(--primary-color);
    width: 2.3rem;
    bottom: -12px;
    left: 0;
    height: 4px;
    border-radius: 20px;
    font-weight: 500;
}

.page-tab-btn {
    color: var(--primary-color);
    position: relative;
    font-weight: 500;
    margin-right: 20px;
}

.page-tab-btn:hover {
    color: var(--primary-color);
}

.page-inactive {
    color: rgba(0, 0, 0, 0.49);
    margin-right: 20px;
}

.page-inactive:hover {
    color: var(--primary-color);
}

/*----------------------------------------------------------
 Page Tab, Search, Button in Responsive
 ---------------------------------------------------*/
@media (max-width: 600px) {
    .page-tab-btn, .page-inactive {
        font-size: 11px;
        margin-right: 10px;
    }

    .modal-btn, .search-form {
        display: none;
    }
}

/*----------------------------------------------------------
 Position ---------------------------------------------------*/
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*----------------------------------------------------------
 Button ---------------------------------------------------*/
.btn-primary {
    border: 1px solid var(--primary-color) !important;
    background: var(--primary-color) !important;
    color: white !important;
    border-radius: 32px;
    font-size: 16px;
    padding: 10px;
}

button:focus {
    box-shadow: none !important;
}

/*----------------------------------------------------------
 Search Form ---------------------------------------------------*/
.search-form {
    width: 100% !important;
    position: relative;
}

.search-form .search-form-input {
    width: 100% !important;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    padding-left: 30px;
    background: transparent;
}

.search-form .search-form-input:focus {
    outline: none;
    box-shadow: none;
}

.search-form .search-form-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 11;
}

/*----------------------------------------------------------
 list Cards Title---------------------------------------------------*/
.list-title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin: 15px;
}

.list-title::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 4px;
    border-radius: 8px;
    background: #000000;
    top: 0;
    left: -15px;
}

.list-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.list-info .count {
    font-size: 24px;
    padding: 0 12px;
    font-weight: 600;
    position: relative;
}

.list-info .count::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 4px;
    border-radius: 8px;
    background: var(--purple);
    top: 0;
    left: 0;
}

.list-info .title {
    font-weight: 300;
    font-size: 14px;
    color: #C4C4C4;
}

.list-heading {
    background: rgba(0, 0, 0, 0.75) !important;
    width: 80%;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 50px;
    padding: 12px;
    font-weight: 500;
    transform: translateX(-50%);
}


/*----------------------------------------------------------
 Primary Border Radius---------------------------------------------------*/
.radius {
    border-radius: 8px;
}


/*----------------------------------------------------------
 Three Dots Menu Icon ---------------------------------------------------*/
.menu-icon {
    background: rgba(0, 0, 0, 0.49) !important;
    border-radius: 3px;
    cursor: pointer;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.5s ease-in-out all;
}

.dots-card.show {
    min-width: 15% !important;
}

@media (min-width: 600px) {
    .dots-card.show {
        transform: translate(252px, 80px) !important;
    }
}


/*----------------------------------------------------------
 Image Upload ---------------------------------------------------*/
.drop-image {
    border: 1px dashed #2850B9;
    border-radius: 8px;
    position: relative;
    padding: 15px 10px;
    cursor: pointer;
}

.drop-image i {
    font-size: 20px;
}

.drop-image .drop-image-filed {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0dcaf0;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.drop-image .drop-image-label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.drop-img-preview {
    width: 173px;
    height: 171px;
    background: #EBEBEB;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.drop-img-preview .image-preview {
    width: 100% !important;
    height: 100% !important;
    /*position: relative;*/
}

.drop-img-preview .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8) !important;
}


/*----------------------------------------------------------
 text outline for input ---------------------------------------------------*/
.text-outline {
    position: relative;
}

.text-outline label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    background: transparent;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.text-outline input {
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 14px 15px;
    color: gray;
    background: #F4F5F7;
    transition: 0.1s ease-out;
}

.text-outline input:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

.text-outline input:focus + label {
    color: gray;
    top: 0;
    background: white;
    transform: translateY(-50%) scale(.9);
}

.text-outline input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
}

/*----------------------------------------------------------
 Select To Text-Select ---------------------------------------------------*/
.text-select {
    border: none !important;
    background-color: #F4F5F7;
    padding: 14px 15px;
    box-shadow: none !important;
}

/*----------------------------------------------------------
 Switch ---------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch .switch-input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    top: -3px;
    left: -3px;
    /*border: 1px solid #00B22D;*/
    border: 1px solid var(--primary-color);
    /*bottom: 0px;*/
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch-input:checked + .slider {
    background-color: #00B22D;
    border: 1px solid #00B22D;
}


.switch-input:checked + .slider:before {
    /*-webkit-transform: translateX(25px);*/
    /*-ms-transform: translateX(39px);*/
    border: 1px solid #00B22D;
    transform: translateX(32px);
}

.slider:after {
    content: 'OFF';
    color: rgba(0, 0, 0, 1);
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: -3px;
    font-size: 10px;
    color: white;

}

.switch-input:checked + .slider:after {
    content: 'ON';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 22px;
    font-size: 10px;
}

/*----------------------------------------------------------
 Data Table ---------------------------------------------------*/
.table > thead {
    background: rgba(196, 196, 196, 0.7);

}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: transparent;
    color: var(--bs-table-striped-color);
}


.table.dataTable tbody tr {
    background: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}

.dataTables_wrapper .dataTables_filter label {
    position: absolute;
    top: -140px;
    right: 0;

}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    margin-bottom: 10px !important;
}

@media (max-width: 600px) {
    .dataTables_wrapper {
        overflow-y: auto;
    }
}

/*----------------------------------------------------------
 Color & Background Color ---------------------------------------------------*/
.primary-bg {
    background: var(--primary-bg);
}

.primary-color {
    color: var(--primary-color);
}

.bg-white {
    background: var(--white);
}


/* ===== Pages Component ===== */
/*----------------------------------------------------------
 Dashboard Component ---------------------------------------------------*/
#dashboard-section .card {
    border: none;
    box-shadow: 0 13px 10px rgba(0, 0, 0, 0.035);
    border-radius: 20px;
    padding: 20px;
}

#dashboard-section .count-icon-box {
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.035);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

#dashboard-section .nav-tabs {
    border-bottom: none !important;
}

#dashboard-section .nav-tabs .nav-link {
    background: white !important;
    color: var(--primary-color) !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 2px solid #DED7D7 !important;
}

#dashboard-section .nav-tabs .active {
    background: #FFE9E9 !important;
    color: var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color) !important;
}

#dashboard-section .nav-tabs #last-day-btn {
    border-radius: 8px 0 0 0 !important;
}

#dashboard-section .nav-tabs #week-tab-btn {
    border-radius: 0 8px 0 0 !important;
}

#dashboard-section #last-tab-content {
    background: white !important;
    width: 96%;
    border-radius: 0 0 20px 20px;
    border-top: 1px solid #DED7D7 !important;
    padding: 20px;
}

#dashboard-section #last-tab-content .count-box {
    position: relative;
    padding-left: 15px;
}

#dashboard-section #last-tab-content .count-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    border-radius: 8px;
    background: var(--purple);
}

#dashboard-section #last-tab-content .count-subscribe::before {
    background: var(--green) !important;
}

#dashboard-section #last-tab-content .count-unsubscribe::before {
    background: #FB7530 !important;
}

#dashboard-section #last-tab-content .count-title {
    font-size: 12px;
    font-weight: lighter;
    color: #C4C4C4;
}

#dashboard-section #count-date-box {
    position: relative;
}
#dashboard-section #count-date-box .bi-caret-down-fill {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

#dashboard-section #count-date {
    width: 131px;
    height: 40px;
    border: none !important;
    border-radius: 8px 8px 0 0;
    padding: 10px;
}

@media (max-width: 600px) {
    #dashboard-section #count-date {
        width: 88px;
        font-size: 10px;
    }
    #dashboard-section #count-date-box .bi-caret-down-fill {
        right: 35px;
        font-size: 10px;
    }
}
#dashboard-section #count-date:focus {
    outline: none !important;
    border: none !important;
}


#dashboard-section .dashboard-category .card {
    border: 0;
    border-radius: 18px;
    padding: 15px;
    width: 96%;
}

#dashboard-section .dashboard-category .card .card-title {
    font-size: 18px;
}

#dashboard-section .dashboard-category .card .category-count .count-img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

#dashboard-section .dashboard-category .card .category-count .title {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

#dashboard-section .dashboard-category .card .number {
    color: #008640;
    font-size: 10px;
    margin-left: 10px;
}

/*----------------------------------------------------------
 Artist Component ---------------------------------------------------*/
.filter-swiper .filter-btn {
    color: black;
    background: #E5E5E5 !important;
    border: 1px solid #000000;
    width: 70%;
    border-radius: 32px;
    margin: 0 40px;
}

.filter-swiper .filter-btn:hover, .filter-swiper .swiper-slide.swiper-slide-active .filter-btn {
    background: rgba(218, 15, 15, 0.2) !important;
    border: 1px solid #FF0000;
}

.filter-swiper .swiper-button-next, .swiper-button-prev {
    color: var(--primary-color) !important;
}

/*----------------------------------------------------------
 Sponsor Component ---------------------------------------------------*/
.date-filed {
    border: none;
    background: #F4F5F7;
    width: 25%;
    border-radius: 8px;
    padding: 5px;
}